<!DOCTYPE html>
<html>
<title>CLASP - {{page.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Domine:wght@400..700&family=PT+Serif:ital,wght@0,400;1,455&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/concluding-conference.css">
<body>
<div class="top-container">
    <header>
        <div class="header-title">
            <div class="centered header-main noto-sans bold">CLASP Concluding Conference 2026</div>
            <div class="centered header-description noto-sans normal">Gothenburg</div>
        </div>
        <navigation class="noto-sans semi-bold">
            <ul>
                <li><a href="/concluding-conference/">Home</a></li>
                <li><a href="/concluding-conference/registration.html">Registration</a></li>
                <li><a href="/concluding-conference/program.html">Program</a></li>
                <li><a href="/concluding-conference/venue.html">Venue</a></li>
                <li><a href="/concluding-conference/authors.html">Author Portal</a>
				</li><li><a href="/concluding-conference/keynotes.html">Invited Speakers</a></li>
            </ul>
        </navigation>
    </header>
    <main>
    {{content}}
    </main>
</div>
<footer>
    <div class="grid-footer">
        <img src="/assets/images/GU_seal.png" class="footer-logo small" alt="GU logo">
	<img src="/assets/images/vr_logo.png" class="footer-logo" alt="VR logo">
    </div>
</footer>
</body>
</html>
