<!DOCTYPE html>
<html>
<title>CLASP - {{page.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Domine:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<body>
<div class="top-container">
    <header>
        <a href="/">
            <div class="grid-header">
                <div class="clasp">
                    <div class="centered header-main noto-sans bold">CLASP</div>
                    <div class="centered header-description noto-sans normal">The Centre for Linguistic Theory and Studies in Probability</div>
                </div>
                <div class="gu-logo"><img class="gu-logo" src="/assets/images/gu-logo.png"></div>
            </div>
        </a>
    </header>
    <navigation class="noto-sans semi-bold">
        <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="/news">News</a></li> -->
            <li><a href="/events/">Events</a></li>
            <li><a href="/calendar/">Calendar</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/phd-courses/">PhD Courses</a></li>
            <li><a href="/research-groups/">Research Groups</a></li>
            <li><a href="/recruitment/"">Recruitment</a></li>
            <li><a href="/people/">People</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </navigation>
    <div class="h-line"></div>
    <main>
    {{content}}
    </main>
</div>
<footer>
    <div class="grid-footer">
        <div class="contact-info">
            <h3>Contact Information</h3>
            <p><b>Office Hours:</b> Monday-Friday 9.00am - 5.00pm</p>
            <p><b>Phone:</b> +46 31-786 0000</p>
            <p><b>E-mail:</b> <a href="mailto: susanna.myyry@gu.se">Susanna Myyry</a></p>
        </div>
        <div class="quick-links">
            <h3>Quick Links</h3>
            <p><a href="/events/">Events</a></p>
            <p><a href="/recruitment/">Recruitment</a></p>
            <p><a href="https://clasp.gu.se" target="_blank">CLASP GU page</a></p>
            <p><a href="https://gu.se" target="_blank">University of Gothenburg</a></p>
        </div>
        <div class="address">
            <h3>Address</h3>
            <p>
                CLASP - Centre for Linguistic Theory and Studies in Probability Department of Philosophy,
                Linguistics and Theory of Science University of Gothenburg
            </p>
            <p>P.O. Box 200</p>
            <p>SE-405 30 GOTHENBURG</p>
            <p>Show Map</p>
        </div>
    </div>
</footer>
</body>
</html>
